@{ ViewData["Title"] = "Home Page"; }
<div id="app"></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}

<style>
    #nprogress .spinner-icon {
        display: none;
    }

    .input-group.checkbox label {
        height: auto;
        margin-top: -30px;
        padding-left: 30px;
        position: static;
        white-space: normal;
    }

    .input-group.checkbox .input-group__input {
        order: -1;
    }
</style>
